body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
}


#cabecalho {
    background-color: #0626b8;
    background: linear-gradient(#0626b8, #3d20dd);
    padding: 30px;
    text-align: center;
}

#cabecalho img {
    width: 750px;
    height: 150px;
    justify-content: center;
}

.menu {
    position: relative;
    display: inline-block;
  }

.ses{
    background-color: #b97f00;
    right: 50%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.dws {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dws a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dws a:hover {background-color: #f1f1f1}

.menu:hover .dws {
  display: block;
}


.menu:hover .ses {
  background-color: #ac7207;
}