* {
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

#cabecalho {
    background-color: #0626b8;
    background: linear-gradient(#0626b8, #3d20dd);
    padding: 30px;
}

#faetec {
    left: 25.7%;
    top: 50%;
    width: 40%;
    height: 40%;
    align-items: center;
    justify-content: center;
    position: relative;
}

#voltar {
    margin-bottom: 3%;
    left: 5%;
    top: 9%;
    width: 4.1%;
    height: 2%;
    padding: 1%;
    border-radius: 1%;
    position: relative;
}
.materia {
    width: 17%;
    height: 10%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 31%;
    left: 10%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Local {
    padding-top: 1%;
    width: 50%;
    height: 72%;
    display: flex;
    position: absolute;
    top: 62%;
    left: 50%;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: beige;
}

a {
    text-decoration: none;
    color: #05001f;
}

a:hover {
    color: #3d20dd;
}

li {
    border-bottom: 1px solid #585566;
    display: block;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    margin: 0 15px 6px;
    margin-bottom: 12px;

}

