* {
    margin: 0;
    padding: 0;
}

body { /*body 1*/
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("../img/img.jpg");
    background-size: 100%;
    display: block;
}

body * {
    box-sizing: border-box;
}
  .left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
   /*justify-content: center;*/
    align-items: center;


} 

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 300px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    opacity: 0.8;
}

.card-login img{
    width: 69%;
    height: 100%;
}

.textfield {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px; 
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}
    
.textfield input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #fcb214;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ee930a70;
}
.btn-login{
    background-color: transparent; 
    color: white; 
    border: 2px solid #fcb214;
  }
  
  .btn-login:hover {
    background-color: #fcb214;
    color: white;
  }

































































































  /* eae galera 2 da secretaria sou eu ent eu to fingindo trabalhar devo confessar hoje é meu aniversario e poxa vida tenho que escanear e fazer prova??????
   nem que a vaca lata meu camarada eu vou é escrever esse textão aqui uma vez a cada minuto pra pensarem que to programando. 
   
   já pararam pra pensar que tipo, a palavra tomar sempre se refere a algum liquido? tomar suco, tomar semem, tomar agua, etc. mas olha só, a gente tambem toma tiro, toma sol e toma remédio, foi só esses 3
   exemplos de tomar coisas solidas que eu pensei, faz total sentido eu sei, eu devia ser professor do noslen na vida anterior.
   
   outra reflexão que eu tenho é que tipo, cada pessoa esta num tempo diferente, por exemplo eu to em 2023 mas o waian pode ta em 2013, e essa distancia de tempo depende de o quanto voce dorme,
   irei explicar minha teoria, digamos que eu esteja acordado e o waian esteja dormindo, pra ele que ta dormindo, ele ja acordou e ja ta levantando, mas na minha visão eu to vendo ele dormir por umas 8
   horas, então tipo, ele ta a 8 horas na minha frente.
   insano né, é realmente.
   
   _,/~,_ 
  ( . .. )
   \ .. /   desenhei um morango em ascii, eu sou bom com desenhos em texto, porque eu não mato animais no minecraft, então não consigo fazer quadros de itens pra coisar os baus
    "--"     então sou obrigado a desenhar na propria placa

     ^
   ( * )
  {   * }  pinheiros
  " ) ( ' 
^^^^^^^^^^^

  (-  picareta
  t   espada
  -D  pá
  7   enchada
  -S  machado

  parei

  cara não me mandou a dancinha do link até hoje, c ta achando que eu to brincando cara? que é algo futil? EU QUERO VER O LINK DANÇANDO BIZONHO CARA ME MANDA

  euen


  pepino pepino de novo pepino da aquela do canguru vai pepino


  o tipo de teclado nos paises ameriacos se chata QWERTY, e ce tu perceber, são as primeiras letras do teclado, BIZARRO


  dica gamer, se voce voce apertar control e ir clicando nas linhas, voce pode escrever varias linhas com o mesmo texto

    assim, programação avançada de vs code
    assim, programação avançada de vs code
    assim, programação avançada de vs code
    assim, programação avançada de vs code
    assim, programação avançada de vs code
    assim, programação avançada de vs code
    assim, programação avançada de vs code
    assim, programação avançada de vs code
    assim, programação avançada de vs code


    toda vez que eu uso esse pc eu fico bravo pq o mousepad fica me chamando de noob, eu não sou noob cara eu sou pro nos games


   a fonte usada pelo vs code é a consolas, isso porque todos caracteres dela ocupam o mesmo espaço, isso deixa o codigo masis organizados, diferente do times new romain por exemplo, que é uma bagunça

   /gamerule keepInventory true   <- comando pra quando morrer não perder os itens do mine

*/